@import "utilities.css";

:root {
  --primary: #3dcfd3;
  --secondary: #070606;
  --dark: #161616;
  --pure: #ffff;
  --ternary: #898989;
  --light: #f2f2f2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smotting: antialiased;
}

body, html {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

header {
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

header nav {
  padding: 2rem 0;
}

header nav .branding {
  margin-right: 3rem;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 2rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header nav .left a:hover {
  color: var(--primary);
}

.container {
  padding: 0 100px;
  max-width: 1152px;
  margin: 0 auto;
}

.hero {
  padding: 2rem 0;
}

.hero .left img {
  width: 200%;
}

.hero .right {
  color: var(--pure);
}

.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero .right h1 span {
  color: var(--primary);
}

.hero .right h6 {
  color: var(--primary);
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.hero .right {
  margin-top: -7rem;
}

.hero .right p {
  line-height: 1.9;
  margin-bottom: 2rem;
}

section {
  padding: 6rem 0;
}

section.about h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

section.about h1 span {
  color: var(--primary);
}

section.about h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

section.about p {
  font-family: 'Lato', sans-serif;
  color: var(--ternary);
  line-height: 1.9;
  margin-bottom: 2rem
}

section.about .social {
  display: flex;
}

section.about .social a {
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 0.6rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section.about .social a:hover {
  background-color: var(--primary);
}

section.about .about-me-img {
  width: 80%;
}

.section-heading {
  color: var(--secondary);
  margin-bottom: 1rem;
  text-align: center;
  line-height: 0.5;
}

.section-heading span {
  color: var(--primary);
}

.section-heading+p {
  color: var(--ternary);
  text-align: center;
  margin-bottom: 8rem;
  font-family: 'Lato', sans-serif;
}

section.service {
  background: var(--light);
}

section.service .card-wapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 6rem 2rem;
}

section.service .card-wapper .card {
  text-align: center;
  background: var(--pure);
  padding: 5rem 2rem 3rem 2rem;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section.service .card-wapper .card i {
  background-color: var(--primary);
  font-size: 3rem;
  padding: 1.4rem;
  position: absolute;
  top: -3.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

section.service .card-wapper .card h2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

section.service .card-wapper .card p {
  font-family: 'Lato', sans-serif;
  color: var(--ternary);
  line-height: 1.6;
}

section.service .card-wapper .card:hover {
  background: var(--dark);
  color: var(--pure);
}

section.freelancer {
  padding: 6rem 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/camera.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--pure);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
}

section.freelancer h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

section.freelancer p {
  font-family: 'Lato', sans-serif;
  margin-bottom: 4rem;
}

section.freelancer button {
  margin-bottom: 10rem;
}

section.reviews .slider .slide img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2rem;
}

section.reviews .slider .slide {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
